#box {
				width: 100%;
				height: 75px;
				background: #1B1B1B;
				/*position: fixed;*/
			}
			
			#nav {
				width: 96%;
				/*margin: auto;*/
				height: 75px;
				/*position: fixed;*/
			}
			
			#menu {
				width: 70%;
			}
			
			#menu ul {
				width: auto;
				height: 75px;
				position: absolute;
				right: 0;
				top: 0;
				padding-right: 12%;
				/*left: 44%;*/
				/*bottom: 0;*/
				/*background: red;*/
				/*1060*/
				overflow: hidden;
			}
			
			#menu ul li {
				width: auto;
				float: left;
				margin-left: 30px;
				height: 75px;
				line-height: 75px;
				text-align: center;
			}
			
			#logo {
				position: relative;
				left: 10px;
				top: 17px;
			}
			
			#menu ul li a {
				width: 100%;
				color: #7B7B7B;
				font-size: 17px;
				padding: 2px 6px;
				/*border: 1px solid #7B7B7B;*/
				border-radius: 5px;
			}
			#dis{
				position: absolute;
				right: 20px;
				top: 20px;
				height: 15px;
				display: none;
				z-index: 200;
				/*width: 40px;*/
				/*overflow: hidden;*/
				
			}
			#dis p{
				width: 30px;
				height: 5px;
				background: #CFDB00;
				margin-top: 5px;
				border-radius: 1px;
				/*z-index: 200;*/
				
			}
			#dis .list{
				background: #CFDB00;
				border: 1px solid #CFDB00;
				border-radius: 2px;
				display: none;
				/*position: relative;*/
				/*z-index: 200;*/
			}
			#dis ul li{
				width: 100px;
				text-align: center;
				margin: 2px 0;
			} 
			#dis .list li a{
				display: block;
				padding: 3px;
				text-align: center;
				color:darkgray;
			}
			@media only screen and (max-width: 800px) {
				/*html{
					height: 100%;
				}*/
				
				#box #menu{
					display: none;
				}
				#box #dis{
					display: block;
				}
				
			}
			@media only screen and (max-width: 1600px) {
				html{
					height: 100%;
				}
				#demo .box{
					width: 32%;
				}
			}
			@media only screen and (max-width: 800px) {
				#demo .box{
					width: 49%;
				}
			}
			
			.light{
				border: 1px solid #7B7B7B;
				border-radius: 5px;
				color: white;
			}
